<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.BoardMapper">
	<select id="getList" resultType="org.ict.domain.BoardVO">
		SELECT * FROM board WHERE bno > 0
		
	</select>
	
	<insert id="insert">
	INSERTO INTO board(title, contents, writer)
	VALUES (#{title}, #{contents}, #{writer})
	</insert>
	
	<delete id="delete">
	DELETE FROM board WHERE bno = #{bno}
	</delete>
	
	<select id="read" resultType="org.ict.domain.BoardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>

</mapper>