<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.FoodMapper">
	
	<select id="foodList" resultType="org.ict.domain.FoodVO">
		select a.fbno, a.fbtitle, a.fbthumnail, a.fbcontents1, a.fbcontents2, a.fbimg1, a.fbimg2, a.fbimg3, a.fbimg4, a.fbimg5,
 a.fbaddr1, a.fbaddr2, a.fbupdatedate, b.lno
	from foodboard as a, localkr as b
     where a.lno = b.lno and fbno > 0 order by lno asc
     	limit #{cri.pageStart}, #{cri.number}
	</select>
	
	<select id="foodRead" resultType="org.ict.domain.FoodVO">
		select a.fbno, a.fbtitle, a.fbthumnail, a.fbcontents1, a.fbcontents2, a.fbimg1, a.fbimg2, a.fbimg3, a.fbimg4, a.fbimg5,
 a.fbaddr1, a.fbaddr2, a.fbupdatedate, b.lno
	from foodboard as a, localkr as b
     where a.lno = b.lno and fbno = #{fbno}
	</select>
	
	<select id="countPageNum" resultType="int">

			SELECT COUNT(fbno) FROM foodboard WHERE fbno > 0
	</select>
	
	
</mapper>