<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.SeoulMapper">
	<select id="seoulList" resultType="org.ict.domain.SeoulVO">
		SELECT * FROM seoul where sno > 0
	</select>

	<select id="tourRead" resultType="org.ict.domain.SeoulVO">
		select a.sno, b.lno, a.sarea, a.spost, c.tbno, c.tbtitle ,c.tinfo, c.tbthumnail, c.tbcontents1, c.tbimg1, c.tbimg2, c.tbimg3, c.tbimg4, c.tbimg5, c.tbaddr1, c.tbaddr2
      FROM seoul as a, localkr as b, tourboard as c
         WHERE a.lno = b.lno and a.sno = c.sno  and a.sno = #{sno}
         limit #{pageStart}, #{number}

		</select>
	<select id="foodRead" resultType="org.ict.domain.SeoulVO">
		select a.sno, b.lno, a.sarea, a.spost, c.fbno, c.fbtitle ,c.fbinfo, c.fbthumnail, c.fbcontents1, c.fbimg1, c.fbimg2, c.fbimg3, c.fbimg4, c.fbimg5, c.fbaddr1, c.fbaddr2
      FROM seoul as a, localkr as b, foodboard as c
         WHERE a.lno = b.lno and a.sno = c.sno  and a.sno = #{sno}
         limit #{pageStart}, #{number}

		</select>
		
		<select id="boardCount" resultType="int">
		select count(a.sno)
      FROM seoul as a, localkr as b, tourboard as c
         WHERE a.lno = b.lno and a.sno = c.sno  and a.sno = #{sno}
		
		</select>
	
</mapper>