<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.SeoulMapper">
	<select id="seoulList" resultType="org.ict.domain.SeoulVO">
		SELECT * FROM seoul where sno > 0
	</select>

	<select id="seoulRead" resultType="org.ict.domain.SeoulVO">
		select a.sno, b.lno, a.sarea, a.spost, c.tname, c.timg, c.tinfo
		FROM seoul as a, localkr as b, tour as c
			WHERE a.lno = b.lno and a.sno = c.sno and a.sno = #{sno}
		</select>
</mapper>