<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.TourMapper">
	<select id="tourList" resultType="org.ict.domain.TourVO">
	 select a.tbno, a.tbtitle, a.tbthumnail, a.tbcontents1, a.tbcontents2, a.tbimg1, a.tbimg2, a.tbimg3, a.tbimg4, a.tbimg5,
 a.tbaddr1, a.tbaddr2, a.tbupdatedate, b.lno
	from tourboard as a, localkr as b
     where a.lno = b.lno and tbno > 0 order by lno asc
     	limit #{cri.pageStart}, #{cri.number}
	</select>
	<!-- 투어 테이블의 리스트를 1번부터 오름차순으로 뽑는다 1번 서울 부터 뽑기 위해서  -->
	
	<select id="tourDetailList" resultType="org.ict.domain.TourVO">
	 select a.tbno, a.tbtitle, a.tbthumnail, a.tbcontents1, a.tbcontents2, a.tbimg1, a.tbimg2, a.tbimg3, a.tbimg4, a.tbimg5,
 a.tbaddr1, a.tbaddr2, a.tbupdatedate, b.lno
	from tourboard as a, localkr as b
     where a.lno = b.lno and b.lno = #{lno} and tbno > 0 order by lno asc
     	limit #{cri.pageStart}, #{cri.number}
	</select>
	
	<select id="tourRead" resultType="org.ict.domain.TourVO">
	select a.tbno, a.tbtitle, a.tbthumnail, a.tbcontents1, a.tbcontents2, a.tbimg1, a.tbimg2, a.tbimg3, a.tbimg4, a.tbimg5,
 a.tbaddr1, a.tbaddr2, a.tbupdatedate, b.lno
	from tourboard as a, localkr as b
     where a.lno = b.lno and tbno = #{tbno}
	</select>
	
	<select id="countPageNum" resultType="int">

			SELECT COUNT(tbno) FROM tourboard WHERE tbno > 0

	</select>
		<select id="countLnoNum" resultType="int">

			SELECT COUNT(tbno) FROM tourboard WHERE lno = #{lno} and tbno > 0

	</select>
</mapper>