<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.TourMapper">
	<select id="tourList" resultType="org.ict.domain.TourVO">
	SELECT * FROM tour where tno > 0
	</select>
	
	<select id="tourRead" resultType="org.ict.domain.TourVO">
	SELECT * FROM tour where tno = #{tno}
	</select>
</mapper>